In [ ]:
%%sql -r dataframe_4
show databases;

In [ ]:
%%sql -r dataframe_5
use SF_CERT_PREP.public;

In [ ]:
%%sql -r dataframe_1
CREATE OR REPLACE STAGE SF_CERT_PREP.public.aws_stage
    url='s3://bucketsnowflakes3';

In [ ]:
%%sql -r dataframe_2
LIST @aws_stage;

In [ ]:
%%sql -r dataframe_10
create file format ff_csv
type = csv field_delimiter=',' skip_header=1

In [ ]:
%%sql -r dataframe_9
SELECT *
  FROM TABLE(
    INFER_SCHEMA(
      LOCATION=>'@aws_stage/OrderDetails.csv',
      file_format=>'ff_csv'
      )
    );

In [ ]:
%%sql -r dataframe_11
 COPY INTO ORDERS
     FROM @aws_stage/OrderDetails.csv
     file_format =ff_csv
          files = ('OrderDetails.csv');;

In [ ]:
%%sql -r dataframe_14
 COPY INTO ORDERS
     FROM @aws_stage
     file_format =ff_csv
          files = ('OrderDetails.csv');

In [ ]:
%%sql -r dataframe_15
 COPY INTO ORDERS
     FROM @aws_stage
     file_format =ff_csv
               pattern = '.*Order.*';

In [ ]:
%%sql -r dataframe_12
select * from ORDERS;

In [ ]:
%%sql -r dataframe_8
select $1, $2, $3 from @aws_stage/OrderDetails.csv t;

In [ ]:
%%sql -r dataframe_3
CREATE OR REPLACE TABLE ORDERS (
    ORDER_ID VARCHAR(30),
    AMOUNT INT,
    PROFIT INT,
    QUANTITY INT,
    CATEGORY VARCHAR(30),
    SUBCATEGORY VARCHAR(30)
)

In [ ]:
%%sql -r dataframe_6
select * from orders;